* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem */
  font-size: 62.5%;
}

body {
  padding: 3rem;
}

.header {
  position: relative;
  background-color: #eee;
  height: 100vh;
}
.header-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  border: 1px solid blueviolet;
  padding: 2rem 3rem;
  border-radius: 20px;
  transition: all 0.4s;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  color: blueviolet;
}
.btn:hover {
  color: #fff;
  background-color: blueviolet;
  transform: translateY(-2rem);
}
.btn:active {
  transform: translateY(0);
}
